@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


.contenedor{
	width: 100%;
	position: relative;
	padding: 25%;
	background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(61,71,198,1) 35%, rgba(238,69,252,1) 94%);
  }
main{
	font-family: 'Staatliches';
	
}
.abajo{
	position: fixed;
	bottom: 5%;
	right: 5%;
  }
  #boton-abajo{
	border-radius: 1rem;
	color: black;
	background-color: black;
	width: 180%;
  }
.first-color { 
	background: #fda403; 
}
	
.second-color { 
	background: #e8751a; 
}

.third-color { 
	background: #c51350; 
}

.fourth-color { 
	background: #8a1253; }